/*******************************************************
 *
 *	DCM4CHEE WEB3. Teaching-File And Clinical Trial Page; 
 *  CSS-based layout (i.e position and size)
 *
 ******************************************************/

.ui-autocomplete 
{
     max-height: 200px;
     overflow-y: auto;
}
    
.ui-combobox-base 
{
    position: relative;
    display: inline-block;
}

.ui-combobox-toggle 
{
    position: absolute !important;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}

.ui-input, .ui-widget-content .ui-input,
.ui-input-readonly, .ui-widget-content .ui-input-readonly,
.ui-combobox-input-readonly, .ui-widget-content .ui-combobox-input-readonly
{
	margin: 0;
    padding: 0.3em;
}

.search-form .ui-input, .search-form .ui-widget-content .ui-input,
.search-form .ui-input-readonly, .search-form .ui-widget-content .ui-input-readonly,
.search-form .ui-combobox-input-readonly, .search-form .ui-widget-content .ui-combobox-input-readonly
.search-form .ui-button-text-only, .search-form .ui-button-text
{
    padding: 0.1em 0.3em;
}

.ui-spinner 
{
	vertical-align: baseline;
}


.ui-border-box
{
	-moz-box-sizing: border-box; /* FireFox, other Gecko */
	-webkit-box-sizing: border-box; /* Safari/Chrome, other Webkit */
	-ms-box-sizing: border-box;
	box-sizing: border-box; /* Opera/IE8+ */
}

.ui-tabs-vertical { }

.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }

.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }

.ui-tabs-vertical .ui-tabs-nav li a { display:block; }

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }


/******************************************************  
 * Position/Size of top-level areas 
 *****************************************************/
 
div.search-area 
{
   min-height: 2em;
}
 
div.content-area
{
	clear: both;
	padding-top: 10px;
	border-top: 2px solid transparent;
} 

#trainingmode-link {
	float:right;
	line-height:24px;
}

div.result-area 
{
   margin-right: 36em;
   min-width: 16em;
}
 
div.details-area
{
   float:right;
   clear:right;
   width: 34.75em;
   height: 41.5em;
}

div.diagnosis-warning  {
	text-align: center;
	position:absolute;
	width: 98%;
}


/******************************************************  
 * layout of COMMON elements 
 *****************************************************/

.tc-popup
{
    display: none;
    position: fixed !important;
    z-index: 20001;
    border: 1px solid transparent;
    padding: 1px 1px 16px;
    top:0px;
    left:0px;
}

.tc-popup-content
{
    width: 100%;
    height: 100%;
    clear: both;
    padding-top: 4px;
}

.tc-keyword-popup
{
}

.tc-keyword-popup select
{
    width: 100%;
    height: 100%;
    border: none;
}

.tc-keyword-popup div.wicket-tree
{
    border: none;
    width: 100%;
    height: 100%;
    margin: 0px;
}

.tc-keyword-popup div.wicket-tree span.icon
{
    width:0px;
    height:0px;
}

.tc-keyword-popup div.wicket-tree div.row-selected 
{
    background: none;
}
    
.tc-keyword-popup div.wicket-tree div.a_
{
    padding-left: 5px;
}

.list-keyword-popup
{
    width:280px;
    height:218px;
}

.tree-keyword-popup
{
    width:320px;
    height:258px;
}

.acr-keyword-popup
{
    width:420px;
    height:258px;
}

.tc-image-container
{
    text-align:center;
}

.tc-wado-image-container
{
    text-align:center;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.tc-wado-image-thumbnail-container
{
    text-align: center;
    padding: 0.5em;
    width: 6.5em;
    height: 6.5em;
    border: 1px solid transparent;
}

.tc-separator-horz
{
    width: 100%;
    height: 0px;
    border-top: 1px solid transparent;
    margin: 1em 0
}

.tc-separator-vert
{
    height: 100%;
    width: 0px;
    border-left: 1px solid transparent;
    margin: 0 1em
}


.wicket-aa-container 
{
    border: 1px solid transparent;
}

.wicket-aa 
{
    padding: 2px;
    text-align: left;
}

.wicket-aa ul 
{
    margin: 0;
    padding: 2px;
}

.wicket-aa ul li.selected 
{
    margin: 0;
}
 

/******************************************************  
 * layout of SEARCH elements 
 *****************************************************/

div.search-area-header 
{
	padding: 0.5em;
	text-align: left;
	margin-top: 1.2em;
	position: relative;
}

div.search-area-header span.search-toggle-area
{
	margin-left: auto;
	margin-right: 0;
	text-align: right;
	position: absolute;
	right: 10px;
}

form.search-form
{
	margin: 0px;
}
	 
div.keyword-area
{
	margin: auto;
	text-align: center;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	clear: both;
}

div.advanced-options-area
{
    text-align: center;
    height: 14em;
    overflow: auto;
    padding-left: 2.25em;
}

div.advanced-options-toggle-area 
{
	margin-left: 0.5em;
	margin-right: 0.5em;
	padding-bottom: 0.5em;
	border-top: 1px solid transparent;
}

div.advanced-options-area div.code-table-area
{
	width: 30em;
}

div.advanced-options-area div.choice-table-area
{
	padding-left: 1.25em;
	padding-right: 1.25em;
	margin-right: 1.25em;
    width: 28em;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

div.advanced-options-area div.text-table-area
{
    width: 25em;
}

div.advanced-options-area div.reset-search-area
{
    margin-top: 100px;
}
		


/******************************************************  
 * position/size of RESULT elements 
 *****************************************************/

table.tc-content-table
{
	table-layout: fixed;
	border-collapse: collapse;
	empty-cells: show;
	white-space: nowrap;
	width: 100%;
}

table.tc-content-table tr
{
	height: 25px;
	width: auto;
}

table.tc-content-table tr td
{
	overflow: hidden;
    padding: 2px 20px 2px 0;
    white-space: normal;
}

table.tc-content-table tr th
{
	height: 28px;
	line-height: 28px;
	padding-right: 10px;
	text-align: left;
	width: 20px;
}

table.tc-content-table-header 
{
    width: 100%;
}

table.tc-content-table-header td.navigator 
{
    padding: 0.5em;
    text-align: right;
}

table.tc-content-table-header td.numberOfMatchingInstances 
{
    padding: 0.5em;
    text-align: left;
    font-weight: bold;
}


/******************************************************  
 * layout of DETAILS elements 
 *****************************************************/

div.details-area-header
{
	padding-top: 6px;
	text-align: center;
	font-weight: bold;
	height: 24px;
}

div.details-area-content
{
	padding: 0.25em 0.25em;
	height: 38em;
}

div.no-details-area
{
	text-align: center;
	font-style: italic;
	padding-top: 40px;
}

.details-tabs .ui-tabs-nav li a { padding: 5px 2px; width: 90px; text-align:center;}

div.details-tabs div.tab-panel div p
{
    margin: 0px;
}

div.details-tabs div.tab-panel table.details-images-table
{
	border-spacing: 1px;
	padding-top: 2px;
}

div.details-tabs div.tab-panel div.details-images-nav span
{
	text-align: center;
}

div.details-tabs div.tab-panel div.details-info
{
	padding: 2px;
}

div.details-tabs div.tab-panel div.table-property-row
{
	height: 1.25em;
	overflow: hidden;
	margin-top: 5px;
}

div.details-tabs .ui-tabs-panel
{
	padding: 0px 5px;
}

div.details-tabs div.tab-panel div.spacer
{
	clear: left;
}

div.details-tabs div.tab-panel span.table-property-key
{
    float: left;
    padding-right: 5px;
}


/******************************************************  
 * layout of VIEW elements 
 *****************************************************/

.tc-view
{
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.tc-view-header
{
	height: 60px;
	line-height: 4em; /* vertically center elements */
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.tc-view-content
{
	border: medium none;
	overflow: hidden;
	position: absolute;
	top: 60px;
	bottom: 0;
	left:0;
	right:0;
}

.tc-view-editable-content
{
	border: medium none;
	position: absolute;
	top: 60px;
	bottom: 4em;
	left:0;
	right:0;
}

.tc-view-footer
{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4em;
    line-height: 4em; /* vertically center elements */
}

.tc-view .ui-tabs-vertical .ui-tabs-nav {
	width: 12em;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
}

.tc-view .ui-tabs-vertical .ui-tabs-panel {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

div.tc-view-title
{
	float:left;
	font-weight: bold;
	font-size: 1.25em;
	padding-left: 20px;
}

div.tc-view-title #tc-view-title-text {
	font-size: 1.25em;
	line-height: 30px;
	margin-top: 5px;
	margin-bottom: 2px;
}

div.tc-view-title #tc-view-case-navigator {
	font-weight: normal;
	font-size: 11px;
	line-height: 14px;
}

div.tc-view-title #tc-view-case-navigator button {
	height: 20px;
}

div.tc-view-title #tc-view-case-navigator button span {
	padding: 0 5px;
}

div.tc-view-options
{
	float: right;
	padding-right: 10px;
}

.tc-view-tab-container
{
	width: 100%;
	height: 100%;
}

div.tc-view-buttons
{
	text-align: center;
}

div#tc-view-bibliography-header
{
    width: 100%;
    height: 30px;
    line-height: 30px; /* vertically center elements */
    margin-right: 20px; /* account for ev. displayed vertical scrollbar */
}

div.tc-view-bibliography-title
{
    float:left;
    line-height: 30px;
}

div.tc-view-bibliography-options
{
    height: 30px;
    line-height: 30px; /* vertically center elements */
    float: right;
}

.tc-view-bibliography-list
{
	margin-bottom: 8px;
	position: relative;	
}

.tc-view-bibliography-text
{
	border: medium none;
	min-height: 64px;
	resize:none;
	width: 98.5%;
	overflow-y: auto;
}

.tc-view-bibliography-remove-btn
{
    position: absolute;
    right: 8px;
    top: 2px;
}

.tc-view-bibliography-remove-btn .ui-button-text
{
	padding:0.05em !important;
}

#tc-view-bibliography-container
{
	overflow-y: auto;
}

#tc-view-images-main-container
{
	padding: 5px;
	color: lightgray;
}

.tc-view-images-nav-container
{
	display:inline-block;
	vertical-align:middle;
	padding:5px;
	background-color:black;
}

#tc-view-images-thumbnail-container
{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 3px;
}

#tc-view-images-thumbnail-container img
{
    display: inline-block;
    height: 82%;
    width: auto;
    min-height: 64px;
    min-width: 64px;
    padding: 1px;
    border: none !important;
    margin: 1px;
}

#tc-view-images-series-popup
{
	height: 6em;
	width: 320px;
	overflow: auto;
}

#tc-view-overview-container-left
{
	height: 100%;
	width: 48%;
	max-width: 48%;
	float: left;
	overflow: auto;
}

#tc-view-overview-container-separator
{
	float: left;
	margin-left: 1.5%;
	margin-right: 0;
	width: 1.5%;
	max-width: 1.5%;
}

#tc-view-overview-container-right
{
	height: 100%;
	width: 48%;
	overflow: auto;
}

.tc-view-overview-keyword-input-btn
{
    float: right;
}

.tc-view-overview-row
{
	margin: 0.5em 0;
	min-width: 24em;
}

.tc-view-overview-row-key
{
	float: left;
	margin-top: 0.3em;
	width: 7.25em;
	font-weight: bold;
}

.tc-view-overview-row-key-left-column
{
}

.tc-view-overview-row-key-right-column
{
	width: 11em;
}

.tc-view-overview-row-value
{
	margin-left: 7.5em;
	margin-right: 0.5em;
	position: relative;
	min-height: 2.3em;
}

.tc-view-overview-row-value-left-column
{
}

.tc-view-overview-row-value-right-column
{
	margin-left: 11.25em;
}

.tc-view-overview-row-value:after 
{ 
    content:"clear"; 
    clear:left; 
    display:block; 
    height:0; 
    overflow:hidden; 
    visibility:hidden;
}

.tc-view-overview-row-value-right-column .ui-combobox-base input
{
	width: 200px;
}

.tc-view-overview-area
{
}

#tc-view-overview-abstract-area
{
	height: 24em;
}
